<div id="assetUploadTab" class="dar-tab">
    <input type="hidden" id="logType" name="logType" value="TBD">
    <input type="hidden" id="uploadTime" name="uploadTime" value="TBD">
    <div class="demo-section k-content">
        @(Html.Kendo().TabStrip()
            .Name("tabStripDerivativesUpload")
            .Events(events => events.Select("onTabSelect"))
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Derivatives")
                    .Selected(true)
                    .Content(@<text>
                           <div>
                                @(Html.Kendo().Upload()
                                    .Name("files")
                                    .Async(a => a
                                        .Save("Events_Save", "Derivatives")
                                        .Remove("Events_Remove", "Derivatives")
                                        .AutoUpload(false)
                                    )
                                    .Events(events => events
                                        .Cancel("onCancel")
                                        .Clear("onClear")
                                        .Complete("onComplete")
                                        .Error("onError")
                                        .Progress("onProgress")
                                        .Remove("onRemove")
                                        .Select("onSelect")
                                        .Success("onSuccess")
                                        .Upload("onDerivativesUpload")
                                    )
                                )
                           </div>
                    </text>);

            })
        )

    </div>
</div>
<div>
    @Html.Partial("RefLog")
</div>


<script>

    function onTabSelect(e) {
        //var tab = $("#tabStripDerivativesUpload").kendoTabStrip().getSelectedTab();
        //alert(tab);
        switch (e.item.innerText) {
            case "Derivatives":
                document.getElementById('logType').value = 'Derivatives';
                break;
            default:
            // code block
        }

        $("#gridLog").data("kendoGrid").dataSource.read();
    }

    function onDerivativesUpload(e) {
        //kendoConsole.log("Upload :: " + getFileInfo(e));
        document.getElementById('logType').value = 'DerivativesUpload';
        document.getElementById('uploadTime').value = (new Date()).toUTCString();
    }


    $(document).ready(function () {
        var canUpdate = getBoolFromString('@User.IsInRole("DARUserWrite")');
        if (!canUpdate) {
            $("#files").data("kendoUpload").disable();
        }

    });
</script>