@{
    ViewBag.Title = "Template Download";
}

<table class="pageTable">
    <tr>
        <td>
            <a href="~/FileUploadTemplate/AssetUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="AssetUploadTemplate.xlsx">Asset Template</a>
        </td>
        <td>
            <a href="~/FileUploadTemplate/ExchangeVettingStatusUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="ExchangeVettingStatusUploadTemplate.xlsx">Exchange Vetting Status Template</a>
        </td>
    </tr>
    <tr>
        <td class="emptyCell">&nbsp</td>
        <td class="emptyCell">&nbsp</td>
    </tr>
    <tr>
        <td>
            <a href="~/FileUploadTemplate/AssetVettingStatusUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="AssetVettingStatusUploadTemplate">Asset Vetting Status Template</a>
        </td>
        <td>
            <a href="~/FileUploadTemplate/PairUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="PairUploadTemplate.xlsx">Pair Upload </a>
        </td>
    </tr>
    <tr>
        <td class="emptyCell">&nbsp</td>
        <td class="emptyCell">&nbsp</td>
    </tr>
    <tr>
        <td>
            <a href="~/FileUploadTemplate/CryptoEventUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="CryptoEventUploadTemplate">Crypto Event Template</a>
        </td>
        <td>
            <a href="~/FileUploadTemplate/ServingListTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="ServingListTemplate.xlsx">Serving List Template</a>
        </td>
    </tr>
    <tr>
        <td class="emptyCell">&nbsp</td>
        <td class="emptyCell">&nbsp</td>
    </tr>
    <tr>
        <td>
            <a href="~/FileUploadTemplate/DerivativeUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="DerivativeUploadTemplate">Derivative Upload</a>
        </td>
        <td>
            <a href="~/FileUploadTemplate/TokenUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="TokenUploadTemplate">Token Upload</a>
        </td>
    </tr>
    <tr>
        <td class="emptyCell">&nbsp</td>
        <td class="emptyCell">&nbsp</td>
    </tr>
    <tr>
        <td>
            <a href="~/FileUploadTemplate/ExchangeUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="ExchangeUploadTemplate">Exchange Template</a>
        </td>
        <td>
            <a href="~/FileUploadTemplate/AddExchangePairsUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="AddExchnagePairsUploadTemplate">Add Exchange Pairs Template</a>
        </td>
    </tr>
    <tr>
        <td class="emptyCell">&nbsp</td>
        <td class="emptyCell">&nbsp</td>
    </tr>
    <tr>
        <td>
            <a href="~/FileUploadTemplate/ExcludePairsUploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="ExcludePairsUploadTemplate">Exclude Pairs Template</a>
        </td>
        <td>
            <a href="~/FileUploadTemplate/Addservlistv2UploadTemplate.xlsx" download>       <img src="~/Images/excel.png" alt="AssServListV2UploadTemplate">Add ServListV2 Template</a>
        </td>
    </tr>
    <tr>
        <td class="emptyCell">&nbsp</td>
        <td class="emptyCell">&nbsp</td>
    </tr>
</table>

<style>
    .pageTable {
        width: 800px;
        margin-top: 150px;
        margin-left: 150px;
    }

    .emptyCell {
        text-align: left;
        min-width: 10px;
        min-height: 10px;
    }
</style>