
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;

}

/* #region Navbar styles */
.navbar-header {
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
/* #endregion */


/* #region Footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.85em;
}
/* #endregion */

/* #region custom Kendo UI styles */
#configure {
    display: none;
}

.k-panelbar .k-content {
    padding: 20px;
}

p .k-button {
    margin: 0 15px 0 0;

}

.k-state-active .label {
    font-size: 1em;
}

/* #endregion */

@media (max-width: 767px) {
    #responsive-panel {
        transition: all linear .2s;
        
    }

    #configure {
        display: block;
        float: right;
    }

    .k-rpanel {
        width: 100%;
    }

    .k-rpanel-expanded {
        margin-top: 1rem;
    }

    .navbar-header {
        width: 100%;
    }

    .footer {
        height: 60px;
    }

    .k-menu .k-item,
    .k-menu .k-link {
        width: 100%;
    }

    .k-menu .k-link {
        box-sizing: border-box;
    }
}
/* #region Kendo GRID override */
.k-grid-header .k-header {
    font-weight: bold;
    align-content: center;
    text-align: center;
    font-size: 10pt;
    background-color: #003366;
    color:white;
}


.k-grid-toolbar .k-button {
    background-color: white;
    background-image: none;
}

.k-grid .k-button {
    background-color: white;
    background-image: none;
}

.k-grid-content {
    line-height: 1em;
    font-size: 10pt;
}
/* #endregion */


/* #region DAR */
.main-body {
    margin: 10px 10px 10px 10px;
}
.login {
    max-width: 700px;
    padding-right: 50px;
    padding: 50px 50px 50px 50px;
    background-color: #D9D9D9;
    margin-left: 200px;
    margin-top: 200px;
    border-radius: 25px;
}
.insufficientAccess {
    max-width: 1300px;
    padding-right: 50px;
    padding: 50px 50px 50px 50px;
    background-color: #C0C0C0;
    color: red;

    margin-left: 200px;
    margin-top: 200px;
    border-radius: 25px;
}




.footer-text{
    font-weight: bold;
    color: red;
}

.dar-logo {
    color: #003366;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
    font-family: 'Sitka Heading';
    padding-left: 10px;
}

.asset-button {
    background-image: url("/Images/asset.png");
    background-repeat: no-repeat;
    width:100px;
}

.navbar-brand {
    color: #003366;
    font-weight: bold;
    text-align: left;
    font-size: x-large;
    font-family: 'Sitka Heading';
}

.navbar-brand .a {
    color: Yellow;
}
/* #endregion */

/* #region Tab */
.dar-tab {
    margin: 0 auto 30px;
    text-align: center;
}

#tabstrip h2 {
    font-weight: lighter;
    font-size: 5em;
    line-height: 1;
    padding: 0 0 0 30px;
    margin: 0;
}

    #tabstrip h2 span {
        background: none;
        padding-left: 5px;
        font-size: .3em;
        vertical-align: top;
    }

#tabstrip p {
    margin: 0;
    padding: 0;
}


.k-tabstrip-items .k-item .k-link {
    color: grey;
    font-weight: bold;
}
/* #endregion */

/* #region Menu */

.k-menu .k-state-hover > .k-link {
    color: white;
    background-color: #003366;
}

.k-menu .k-state-hover > .k-state-active{
    color: white;
    background-color: #003366;
}

.k-menu .k-item {
    background-color: white;
    font-weight:bold;
}

/* #endregion */

