
@{
    ViewBag.Title = "ChangePassword";
}

<div>
    <input id="username" type="hidden" value="@User.Identity.Name" />
    <div class="demo-section k-content login">
        <div id="validation-success"></div>
        @(Html.Kendo().Form<DARReferenceData.ViewModels.UserViewModel>()
        .Name("changePassword")
        .HtmlAttributes(new { action = "UpdatePassword", method = "POST" })
        .Validatable(v =>
        {
            v.ValidateOnBlur(true);
            v.ValidationSummary(vs => vs.Enable(false));
        })
        .Items(items =>
        {
            items.AddGroup()
                .Label("Change Password")
                .Items(i =>
                {
                    i.Add()
                      .Field(f => f.Password)
                      .Label(l => l.Text("Current Password:"))
                      .Hint("Hint: enter alphanumeric characters only.")
                      .EditorTemplateHandler("setPasswordEditor");

                    i.Add()
                        .Field(f => f.NewPassword)
                        .Label(l => l.Text("New Password:"))
                        .Name("NewPassword")
                        .Hint("Hint: enter alphanumeric characters only.")
                        .EditorTemplateHandler("setNewPasswordEditor");

                });
        })
        .Events(ev => ev.ValidateField("onFormValidateField").Submit("onFormSubmit").Clear("onFormClear"))
    )
        @if (@User.Identity.Name == "")
        {
            <b>(Login with your current password first. Contact support if you don't remember your current password)</b>
        }
    </div>
    <script>
    function setPasswordEditor(container, options) {
        container.append($("<input type='password' class='k-textbox k-valid' id='Password' name='Password' title='Password' required='required' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:Password' aria-describedby='Password-form-hint'>"));
    }

    function setNewPasswordEditor(container, options) {
        container.append($("<input type='password' class='k-textbox k-valid' id='NewPassword' name='NewPassword' title='New Password' required='required' autocomplete='off' aria-labelledby='Password-form-label' data-bind='value:NewPassword' aria-describedby='Password-form-hint'>"));
    }


    function onFormValidateField(e) {
        $("#validation-success").html("");
    }

    function getPasswordRules() {
        return "Password Rules:\n1) Password must be 6 characters or longer\n2) Password must have one or more special characters\n3) Password can't start with username";
    }

    function onFormSubmit(e) {
        e.preventDefault();
        $("#validation-success").html("<div class='k-messagebox k-messagebox-success'>Authenticating...</div>");

   
        if (e.model.NewPassword.length < 6) {
            alert(getPasswordRules());
        } else if (!/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(e.model.NewPassword)) {
            alert(getPasswordRules());
        } else if (e.model.NewPassword.startsWith(document.getElementById("username").value)) {
            alert(getPasswordRules());
        } else {
            $("#changePassword").submit();
        }

    }

    function onFormClear(e) {
        $("#validation-success").html("");
    }
    </script>
    <style>
    </style>
